<div class="footer" style="bottom: 0px col;">
    <h2 class="frontpage-headder">Stay Connected</h2>
    <div class="flex-container" style="flex-direction: row;">
        <a href="{{'mailto:' + mailingInfo.recipientAddress + '?subject=' + mailingInfo.subject + '&body=' + mailingInfo.body}}">
            <img class="iconImg mx-3 my-3" src="..\assets\Images\email.png">
        </a>
        <a href="https://github.com/GerniVisser" target="_blank">
            <img class="iconImg mx-3" src="..\assets\Images\github.png">
        </a> 
        <a href="https://www.instagram.com/gerni_visser/" target="_blank">
            <img class="iconImg mx-3" src="..\assets\Images\instagram.png">
        </a>
    </div>
</div>