.footer {
  background-color: rgb(78 78 78);
  padding-top: 3%;
  text-align: center;
}

.frontpage-headder {
  font-size: 30px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 8px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.iconImg {
  max-width: 35px;
}

.iconImg:hover {
  max-width: 40px;
}
