<div class="footer" style="bottom: 0px col;">
    <h2 class="frontpage-headder">Stay Connected</h2>
    <div class="flex-container" style="flex-direction: row;">
        <a href="https://www.linkedin.com/in/gerrit-visser-a360171ab/" target="_blank">
            <img class="iconImg mx-3 my-3" src="..\assets\Images\linkedIn.png" alt="LinkedIn Icon">
        </a>
        <a href="https://github.com/GerniVisser" target="_blank">
            <img class="iconImg mx-3" src="..\assets\Images\github.png" alt="Github Icon">
        </a> 
        <a href="https://www.instagram.com/gerni_visser/" target="_blank">
            <img class="iconImg mx-3" src="..\assets\Images\instagram.png" alt="Instagram Icon">
        </a>
    </div>
</div>