.bg {
  height: 100%;
  width: auto;
}

.flex-background {
  flex-direction: column-reverse;
}

@media (min-width: 855px) {
  .flex-background {
    flex-direction: row;
  }
}

div.home-text-overlay {
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: auto;
  color: white;
  padding-left: 10%;
  padding-right: 20px;
}

.frontpage-headder {
  font-size: 28px;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: 8px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-bottom: 4%;
  margin: auto;
}

.greenborder {
  border-style: solid;
  border-color: #0000ff;
}

@media screen and (min-width: 600px) {
  .generalText {
    font-size: 18px;
    font-weight: 450;
  }
}
