<div class="d-flex flex-background" style="height: 100%; margin: 0px;">
    <div class="flex-fill">
        <div class="home-text-overlay">
            <h1 class="frontpage-headder">GERNI VISSER </h1> 
            <div class="generalText">
                <p>
                    Inspiring software developer. On a mission to explore the mysterious world of computer science. 
                </p>
            </div> 
        </div>
    </div>
    <div class="bg flex-fill flex-grow-1">
        
    </div>
    
</div>

<div style=" background-color: #191919;">
    <div style="padding-top: 8%; padding-bottom: 5%; width: 80%; margin: auto;">
        <b class="frontpage-headder">ABOUT ME </b>
        <br>
        <div class="generalText" style="padding-top: 4%; padding-bottom: 8%">
            <p>
                I am super curious and fascinated by the ability presented by computers to create something out of nothing but an initial idea. 
                Take this webpage, I started this project with a blank editor knowing this project will have something to do with HTML and Webhosting. 
                By diving headfirst into the intricate inner workings of web development 
                I managed to create a multi-threaded microservice architecture hosted on the scalable cloud platform to host a multitude of web apps in the future.  
            </p>
            <p>
                This method of exploration learning made me independent of any single tool or language, as I explore and learn how to use new tools as I need them. 
                In this journey of mine, I have completed projects in languages like 
                Python, Java, JavaScript, Go and C# and using technologies like ASP.NET, Unity 3D, OpenCV, and many more without any prior knowledge of any of these tools. 
            </p>
            
        </div>


        <b class="frontpage-headder">MY WORK </b>
        <br>
        <div class="mb-2 generalText"  style="padding-top: 4%;">
            <p>
                I have worked on many projects over the years in many different sub-category’s 
                within computer science, including Web-dev, Game-dev, Artificial Intelligence and 
                Neural Networks, Microcontrollers, and mobile development. 
            </p>
            <p>
                My greatest passion is designing backend systems to be as efficient and secure 
                as possible. I love engineering new algorithms to solve a specific problem as 
                efficiently as possible without compromising functionality. 
            </p>
        </div>
        <div class="pt-2" *ngIf="isLoaded">
            <i>
                Below are links to some of my work :
            </i>
            <ngb-carousel style="background-color: #313131;">
                <ng-template ngbSlide *ngFor="let repo of repos">
                  <div class="mt-5 mb-5" >
                    <p style="text-align: center;">Click to view Project</p>
                    <a [routerLink]="['/projects',repo.name]" class="frontpage-headder">
                        <h3 style="text-align: center;">{{repo.name}}</h3>
                    </a>
                  </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>

<app-footer></app-footer>


