<div class="d-flex flex-background" style="height: 100%;">
    <div class="flex-fill">
        <div class="">
            <div class="">
                <b class="frontpage-headder">GERNI VISSER </b>
                <div style="margin-top:20px; font-size: large; font-weight: 450;">
                    <p>
                    Software developer in making. On a mission to learn about software development 
                    research driven by curiosity. 
                    </p>
                </div> 
            </div>
        </div>
    </div>
    <div class="bg flex-fill flex-grow-1">
        
    </div>
    
</div>
