<div class="flex-container">
    <div class='lg-container'>
        <div class="flex-shrink-0 mb-4 mb-md-0">
            <div class="mx-auto px-1 px-md-4 px-lg-5">
                <div class="flex-heading justify-content-between px-3 mb-4">
                    <div class="flex-shrink-0 flex-" >
                        <h1>ZipStorer</h1> 
                        <p style="color: darkgray;">on Aug 14</p> 
                    </div>
                    <div>
                        <a href="https://github.com/jaime-olivares/zipstorer" target="_blank">
                            <button class="btn btn-primary">View on Github</button>
                        </a>
                    </div>
                </div>
                    
                <div class="box--responsive px-3">
                    <markdown [data]="markdown"></markdown>
                </div>
            </div>
        </div>
    </div>
</div>

