<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item pr-5 active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item pr-5">
          <a class="nav-link" href="{{'mailto:' + mailingInfo.recipientAddress + '?subject=' + mailingInfo.subject + '&body=' + mailingInfo.body}}">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <div *ngFor="let repo of repos">
              <a class="dropdown-item text-white" [routerLink]="['/projects',repo.name]">{{repo.name}}</a>
            </div>
          </div>
        </li>
      </ul>
      <div class="navbar-nav">
       <span class="nav-item active pr-5" style="color: white">
        <a class="nav-link" href="https://1drv.ms/w/s!At8nlw9aRpHNhtIWz0FXHmGBfzIySA?e=tsUqQx" target="_blank">Curriculum Vitae</a>
        </span> 
      </div>
      
    </div>
</nav>